<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="basePath" value="https://services.circulodecredito.com.mx/v1/chapacash"/>
    <add key="xApiKey" value="9keGg87GkgBxNe51liGRUXASQF9ESddU"/>
    <add key="username" value="chapacashapp"/>
    <add key="password" value="4xgd8BhDmx"/>
    <add key="keypairPath" value="C:\Users\Gelus\Desktop\DotNet\CERTS\CERTS\keypair.p12"/>
    <add key="keypairPassword" value="123"/>
    <add key="certificatePath" value="C:\Users\Gelus\Desktop\DotNet\CERTS\CERTS\cdc_cert_1987992493.pem"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>